@page "/fetchdata"
@inject HttpClient Http

<h1>IN Developement </h1>

<p> TEST - component fetching data from the Setu API.</p>

@if (slots == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name </th>
                <th>Adress </th>
                <th>Fee Type</th>
                <th> Slots </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in slots.sessions)
            {
                <tr>
                    <td>@session.center_id</td>
                    <td>@session.name</td>
                    <td>@session.address</td>
                    <td>@session.fee_type</td>                    
                    <td>
                        <ul>
                         @foreach (var slot in session.slots)
                         {
                            <li> @slot</li>
                         }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Slot slots;

    protected override async Task OnInitializedAsync()
    {
        slots = await Http.GetFromJsonAsync<Slot>("https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByPin?pincode=423203&date=06-05-2021");
    }
}
